[package]
name = "crabz"
authors = ["Seth Stadick <sstadick@gmail.com>"]
version = "0.2.1-alpha.0"
edition = "2018"
license = "Unlicense/MIT"
readme = "README.md"
documentation = "https://docs.rs/crabz"
homepage = "https://github.com/sstadick/crabz"
repository = "https://github.com/sstadick/crabz"
categories = ["compression", "concurrency"]
keywords = ["compression", "parallel", "pigz"]
description = "Parallel Compression"

[[bin]]
name = "crabz"
path = "src/main.rs"

[dependencies]
anyhow = "1.0.43"
env_logger = "0.9.0"
gzp = { version = "0.6.0", no-default-features = true, features = ["deflate_zlib_ng"]}
#gzp = { git = "https://github.com/sstadick/gzp", branch = "feature/allow_oversubscribed_writer", no-default-features = true, features = ["deflate_rust"]}
#gzp = { path = "../gzp", no-default-features = true, features = ["deflate_zlib_ng"]}
log = "0.4.14"
num_cpus = "1.13.0"
structopt = "0.3.22"

